* {
    margin: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font: 25px Arial;
    padding-bottom: 15px;
}

h2 {
    font: 20px Arial;
    padding: 15px;
    
}

.menu {    
    display: flex;   
    align-items: center;    
    width: 100%;    
}

.menu img {
    height: 60px;
}

.menu p{
    margin: 15px;
}

.card {
    border: 1px solid rgba(11, 11, 15, 0.411);
    width: 50%;
    height: 50%;
    margin: auto;
    border-radius: 30px;
    background-color: #F1F8FF;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5) ;
    
}

#planos-calc {
    background-color: rgb(12, 87, 87); 
    background-size: cover;      
    padding: 15px;       
    text-align: center;
    
}

#planos-minutos  {      
    padding: 15px;
   
}

.planos {
    padding-top: 10px;
    width: 70%;
    margin: auto;
}

.duracao {
    padding-top: 10px;
    width: 40%;
    margin: auto;
}

.simulation {
    border: 1px solid rgba(11, 11, 15, 0.411);
    padding: 5%;
    border-radius: 30px;
    background-color: rgb(245, 252, 252);
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5) ;
}
.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.botao {
    margin-top: 20px;    
}

.botao-1, .botao-2, .botao-3 {
    margin-top: 5px;
    padding: 20px;
}

.botao-1 a, .botao-2 a, .botao-3 a {
    border: 1px solid #F4F4F4;    
    border-radius: 10px;
    color: white;
    padding: 5px 30px ;
}

.botao-1 a {
    background-color: cornflowerblue;
}

.botao-2 a {
    background-color: #E8222B;
}

.botao-3 a {
    background-color: rgb(12, 87, 87);
}

.f-30:hover {
    background-color: #d1d1d14b;
    border: 5px solid rgba(0, 0, 255, 0.548);
    box-shadow:1px 1px 1px 1px rgb(177, 174, 174);
    border-radius: 3%;      
}

.f-60:hover {
    background-color: #d1d1d14b;
    border: 5px solid #E8222B;
    box-shadow:1px 1px 1px 1px rgb(177, 174, 174);
    border-radius: 3%;    
}

.f-120:hover {
    background-color: #d1d1d14b;
    border: 5px solid rgb(12, 87, 87);
    box-shadow:1px 1px 1px 1px rgb(177, 174, 174);
    border-radius: 3%;
}

.rodape {
    background-color: lightgrey;
    display: flex; 
    justify-content: center;      
    bottom: 0;
    width: 100%;
    padding: 10px;    
}

#resultado {
    margin-top: 30px;
    background-color: orange;
}

.readonly {
    background: #eee; /*Simular campo inativo */
    pointer-events: none;
    touch-action: none;
  }


@media (max-width: 768px){
    .card {       
        width: 80%;
        height: 80%;       
    }

}

